$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$perl        : #f5f5f5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;


$blue: #22aae9;
$deep-blue: #2c343f;
$dark-blue: #181e27;
$light-green: #dce5ce;


$no-space: 0;
$sm-space: 5px;
$md-space: 10px;
$lg-space: 15px;
$xlg-space: 30px;
$xxlg-space: 60px;


$sidebar-width: 330px;
$sidebar-width-adjusted: 315px;
$sixty: 60px;
$doc-padding: 35px;
$max-z-index: 101010;

$timeline-height: (160px, 100px);
$timeline-radius: $lg-space;
$watched-video-color: #6b7d95;
$remaining-video-color: #38404d;
