<div class="row">
    <div class="small-12 columns">
        <div class="row small-gutter">
            <div class="columns medium-12">
                <a href="#"><h6 class="text-uppercase">Cura de jazz și natură are loc între 7 și 11 iulie – Garana 20 ani!</h6></a>
            </div>
            <div class="columns medium-3">
                <img class="thumbnail md-margin-top" src="../assets/img/jazz.jpg" alt="">
            </div>
            <div class="columns medium-9">
                <p>20 de trupe și peste 90 de artiști în programul Gărâna Jazz Festival XX Gărâna Jazz Festival se pregătește deediția cu numărul 20. Cinci[...]</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="small-12 columns">
        <div class="row small-gutter">
            <div class="columns medium-12">
                <a href="#"><h6 class="text-uppercase">Hot Four (Suedia/Norvegia) @Moszkva</h6></a>
            </div>
            <div class="columns medium-3">
                <img class="thumbnail md-margin-top" src="../assets/img/avant.jpg" alt="">
            </div>
            <div class="columns medium-9">
                <p>Eveniment incomod marca MuzicaDeVest. Jazz nordic 🙂 @Oradea Joi 31 martie @Moszkva #Oradea, ora 20![...]</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="small-12 columns">
        <div class="row small-gutter">
            <div class="columns medium-12">
                <a href="#"><h6 class="text-uppercase">Outernational Days Bucharest</h6></a>
            </div>
            <div class="columns medium-3">
                <img class="thumbnail md-margin-top" src="../assets/img/world.jpg" alt="">
            </div>
            <div class="columns medium-9">
                <p>The Attic Magazine prezintă prima ediție Outernational Days, un nou festival de muzică ce va avea loc în București[...]</p>
            </div>
        </div>
    </div>
</div>