<div class="row">
    <div class="small-12 columns">
        <h3>Tortoise @A38 Budapest</h3>
        <iframe width="100%" height="200" src="https://www.mixcloud.com/widget/iframe/?feed=%2Frogvaiv%2Fjeff-parkers-mix%2F&amp;hide_cover=1&amp;dark=1" frameborder="0"></iframe>
        <h5 class="text-uppercase lg-margin-bottom">17 februarie @ A38 – Tortoise, cult bandul post rock isi lanseaza live ultimul disc The Catastrophist in Budapesta! It’s unique somehow:)</h5>
        <p>"The very first concert by the great classic in Hungary. The masters of postrock are the always present band at the tops of the lists, an ultimate must see cathegory on their own, and yes this is an album-release gig of theirs. Their support will come by the American singer-guitarist-painter Sam Prekop."</p>
        <ul class="list-inline">
            <li><a href="#" class="lg-padding-right">Add it to your calendar</a></li>
            <li><a href="#" class="lg-padding-right">Share with friends</a></li>
            <li><a href="#" class="lg-padding-right">Send invitations</a></li>
        </ul>
    </div>
</div>