{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Houses Prototype</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>
  <body>
    <div class="row text-center">
      <div class="large-12 columns lg-padding-top no-padding-bottom">
        <ul class="list-inline no-margin">
          <li><a class="md-padding" href="./landing-a.html">Landing A</a></li>
          <li><a class="md-padding" href="./landing-b.html">Landing B</a></li>
          <li><a class="md-padding" href="/">Details</a></li>
        </ul>
        <hr class="lg-margin-top lg-margin-bottom">
      </div>
    </div>

  {{!-- Pages we create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
